:root {
  --contentHeight: 100px;
  --contentWidth: 100px;
  --menuWidth: 30px;
  --mainWidth: 40px;
  --sidebarWidth: 30px;
}
body {
  overscroll-behavior-y: none;
}

.twitter {
  position: relative;
  display: flex;
  $root: &;
  &-item {
    flex: 1;
    height: 100%;
    height: var(--contentHeight);
    overflow: hidden;

    &#{$root}-item--scrolling {
      overflow-y: auto;
      padding-top: 56px;
      height: var(--contentHeight);
    }
    // overflow-y: auto;
    &#{$root}-item--column {
      #{$root}-item__wrap {
        display: flex;
      }
    }

    &__wrap {
      position: relative;
    }

    &__bar {
      width: 100%;
      height: 56px;
      position: fixed;
      top: 0;
      z-index: 9;
      padding: 8px 16px;
      background-color: rgba(255, 255, 255, 0.9);
      display: flex;
      align-items: center;
      // &::before {
      //   content: '';
      //   width: 100%;
      //   height: 56px;
      //   position: fixed;
      //   background-color: rgba(255, 255, 255, .15);
      //   backdrop-filter: blur(5px);
      // }
    }

    &__main {
      position: relative;
      width: var(--mainWidth);
      height: calc(var(--contentHeight) - 56px);
      & > #{$root}-item {
        &__bar {
          width: var(--mainWidth);
          // left: calc(var(--menuWidth) - 4px);
        }
      }
      &--border {
        & > #{$root}-item {
          &__bar {
            border-left: thin solid rgba(0, 0, 0, 0.12);
            border-right: thin solid rgba(0, 0, 0, 0.12);
          }

          &__content {
            border-left: thin solid rgba(0, 0, 0, 0.12);
            border-right: thin solid rgba(0, 0, 0, 0.12);
          }
        }
      }
    }

    &__sidebar {
      position: relative;
      width: var(--sidebarWidth);
      margin-left: 18px;
      & > #{$root}-item {
        &__bar {
          width: var(--sidebarWidth);
        }
      }
    }
  }
  &-item#{&}-navigation {
    flex: 0 var(--menuWidth);
    width: var(--menuWidth);

    & #{$root}-item {
      &__wrap {
        width: 275px;
        float: right;
      }
      &__bar {
        width: 275px;
      }
      &__content {
        height: calc(var(--contentHeight) - 56px);
        overflow: hidden;
        overflow-y: auto;
        margin-top: 56px;
      }
    }

    // & #{$root}-item__c {
  }
  &-logo {
    width: 56px;
    height: 30px;
    position: absolute;

    & > svg {
      width: 50px;
      height: 30px;
      fill: rgb(29, 155, 240);
    }
  }
}

.main-layout {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  // position: relative;
  display: flex;
  height: 100%;
  max-height: var(--contentHeight);
  // overflow: hidden;

  $root: &;

  &__navigation {
    position: sticky;
    top: 0;
    box-sizing: content-box;
    width: 275px;
    height: var(--contentHeight);
    overflow: hidden;
    overflow-y: auto;
    padding-top: 56px;

    & > #{$root}__logo {
      width: 56px;
      height: 56px;
      width: 100%;
      line-height: 20px;
      padding-left: 16px;
      padding-right: 16px;

      & > svg {
        width: 50px;
        height: 30px;
        fill: rgb(29, 155, 240);
      }
    }
  }

  &__bar {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 9;
  }

  &__content {
    max-width: 990px;
    width: 100%;
    height: 100%;
    border-left: thin solid rgba(0, 0, 0, 0.12);
    overflow: hidden;
    overflow-y: auto;
    // &-left {
    //   width: 598px;
    // }

    & > #{$root}__container {
      display: flex;
      height: 100%;

      & > #{$root}__main {
        position: relative;
        width: 598px;
        // flex: 0 598px;
        height: var(--contentHeight);
        padding-top: 56px;
        // border-right: thin solid rgba(0, 0, 0, 0.12);
        // overflow: hidden;
        // overflow-y: auto;
      }

      & > #{$root}__sidebar {
        position: relative;
        height: var(--contentHeight);
        // box-sizing: content-box;
        padding-top: 56px;
        flex: 1;
        // overflow: hidden;
        // overflow-y: auto;
      }
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
  }

  &__title {
    font-size: 20px;
  }

  &-item {
    #{$root}__title {
      font-weight: 400 !important;
    }
    &--active {
      #{$root}__title {
        font-weight: 600 !important;
      }
      &::before {
        background-color: transparent !important;
      }
    }
  }
}

.tweet-box {
  &.v-text-field--outlined fieldset {
    border: none !important;
  }
}
